.container{
    font-family: sans-serif;
}
.milan{
    display: flex;
    justify-content: center;
    padding: 45px 0 15px;
    background: url("images/milan-bg.png");
    background-size: cover;


}
.milan-header{
    display: flex;
    justify-content: space-between;
    padding-bottom: 20px;
}

.milan-title{
    text-transform: uppercase;
    padding-left: 8px;
}
.logo{
    display: flex;
}

.milan-title-content1{
    font-size: 29px;
    color: white;

}
.milan-title-content2{
    font-size: 18px;
    color: white;
    vertical-align: text-bottom;
}
.contacts{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
}
.contact{
    display: flex;
    text-decoration: none;
    color: white;
    font-size: 18px;
}
.main{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-column-gap: 60px;
}
.shopping{
    text-align: center;
    padding-bottom: 37px;
    position: relative;
    overflow: hidden;
}
.main-pic{
    padding-bottom: 20px;
    width: 100%;
}
.pic-title{
    font-size: 18px;
    color: white;
}
.milan-footer{
    text-align: center;
}
.foot-text{
    font-size: 12px;
    color: white;
}
.logo-link{
    display: block;
    text-decoration: none;

}
.logo:hover .milan-logo {
    content: url("images/logo 2.png");
}
.logo:hover .orange-hover{
    color: #F26522;
}
.orange-hover:hover{
    color: #F26522;
}
.link-img{
    display: block;
    text-decoration: none;
}
.shopping:hover .pic-title{
    color: #F26522;
}
.shopping:hover .orange-block{
    transform: translateY(-138%);
    transition: 0.5s;
}
.shopping:hover .orange-block:nth-child(1){
    transform: translateY(-151%);
}
.orange-block{
    display: flex;
    background-color: #F26522;
    padding: 7px 32px 16px 12px;
    flex-direction: column;
    align-content: space-between;
    position: absolute;
    transform: translateY(100%);

    width: 100%;
    box-sizing: border-box;
}
.form-inblock{
    display: flex;
    color: white;
    font-size: 10px;
    padding-bottom: 8px;
}
.bottom-text-orange{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
.price{
    color: white;
    font-size: 20px;
    vertical-align: bottom;
}
.details{
    color: white;
    font-size: 14px;

}
.details::after{
    content: url("images/Vector 1.png");

    padding-left: 16px;
}
