.about-the-Ham {
    background-image: url("img/section-3.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    text-align: center;
}
.about-the-Ham-title {
    padding: 100px;
    color: white;
    font-size: 40px;
}
.about-the-Ham-text {
    padding-top: 170px;
    color: white;
    width: 1160px;
}
.swiper-container {
    width: 1160px;
    margin: 0 auto;
}
.swiper-slide{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.signature {
    padding-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
:root {
    --swiper-theme-color: none;
}
:root {
    --swiper-navigation-size: 14px;
}

.review-name {
    color: #18CFAB;
    text-transform: uppercase;
    font-weight: bold;
}
.review-type {
    color: #BBBBBB;
    padding-top: 15px;
}
.barsik-beatiful {
    overflow: hidden;
    width: 145px;
    height: 145px;
    box-sizing: border-box;
    border-radius: 50%;
    border: 6px solid rgba(31, 218, 181, 0.2);
    margin: 40px 0 220px 0;
}
.barsik-beatiful img {
    width: 100%;
    height: 100%;
}
.swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet {
    outline: none;
    border: 4px solid rgba(31, 218, 181, 0.5);
}

.swiper-pagination-bullet:nth-child(1){
    content: url("img/cats-q-c-265-210-1.jpg");
    width: 60px;
    height: 60px;
    border-radius: 50%;
    box-sizing: border-box;
    border: 3px solid rgba(31, 218, 181, 0.2);
    opacity: 1;
}
.swiper-pagination-bullet:nth-child(2){
    content: url("img/cats-q-c-265-210-2.jpg");
    width: 60px;
    height: 60px;
    border-radius: 50%;
    box-sizing: border-box;
    border: 3px solid rgba(31, 218, 181, 0.2);
    margin-left: 25px;
    opacity: 1;
}
.swiper-pagination-bullet:nth-child(3){
    content: url("img/cats-q-c-265-210-3.jpg");
    width: 60px;
    height: 60px;
    border-radius: 50%;
    box-sizing: border-box;
    border: 3px solid rgba(31, 218, 181, 0.2);
    margin-left: 25px;
    opacity: 1;
}
.swiper-pagination-bullet:nth-child(4){
    content: url("img/cats-q-c-265-210-4.jpg");
    width: 60px;
    height: 60px;
    border-radius: 50%;
    box-sizing: border-box;
    border: 3px solid rgba(31, 218, 181, 0.2);
    margin-left: 25px;
    opacity: 1;
}
.swiper-pagination-bullet-active {
    transform: translateY(-15px);
    transition: 0.5s;
}
.swiper-container-vertical > .swiper-pagination-bullets.swiper-pagination-bullets-dynamic .swiper-pagination-bullet {
    display: inline-block;
    transition: 100ms transform, 100ms top;
}
.swiper-button-next, .swiper-button-prev {
    top: 94%;
    left: 64%;
    border: 1px solid #BBBBBB;
    width: 30px;
    height: 30px;
}
.swiper-button-prev {
    left: 33%;
}
.swiper-button-white:hover {
    background-color: #18CFAB;
    border-color: #18CFAB;
}