.modal-container{
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  background-color: rgba(0,0,0,.5);
}
.form-standard{
  display: flex;
  flex-direction: column;
  width: 320px;
  padding: 40px 20px;
  border: 1px solid #3d3d3d;
  background-color: #fbfbfb;
  box-shadow: 0 0 5px rgba(0,0,0,.5);
  position: relative;
}
.btn-close{
  display: block;
  position: absolute;
  right: 10px;
  top: 15px;
  width: 30px;
  height: 30px;
  border-radius: 5px;
  background-color: transparent;
  outline: none;
  border: none;
  padding: 5px;
  box-sizing: border-box;
  box-shadow: 0 0 5px rgba(0,0,0,.5);
  &__line{
    display: block;
    height: 2px;
    width: 100%;
    background-color: #2E2E2E;
    &:first-child{
      transform: translate(0, 1px) rotate(45deg);
    }
    &:last-child{
      transform: translate(0px,0px) rotate(125deg);
    }
  }
}
.btn-send{
  display: block;
  margin-left: auto;
  border: 1px solid #2E2E2E;
  border-radius: 5px;
  padding: 5px 10px;
  outline: none;
  background-color: transparent;
  box-shadow: 0 0 5px rgba(0,0,0,.5);
}
.form__select{
  font-size: 18px;
  line-height: 21px;
  padding: 5px 0;
  margin: 10px 0;
}
.input__form{
  padding: 7px 5px;
  box-sizing: border-box;
  margin: 10px 0;
  outline: none;
}
.form__more-info{
  display: flex;
  flex-direction: column;
}

.btn-aut, .btn-send{
  display: block;
  margin-top: 15px;
  background-color: #4abe81;
  box-shadow: 0 0 5px rgba(0,0,0,.5);
  border: none;
  padding: 10px 0;
  border-radius: 5px;
  outline: none;
}
.btn-send{
  text-align: center;
  width: 120px;
  background-color: #88bbf0;
}
.textarea__form{
  resize: none;


}