header{
  display: flex;
  background-color: rgba(173, 200, 236, .8);
  box-shadow: 0 0 5px rgba(58, 100, 155, .8);
}
.container--header{
  padding: 5px 0;
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-logo{
  display: flex;
  width: 250px;
}
.smile{
  font-size: 22px;
}
.header__slog{
  color: #2e2e2e;
  font-size: 24px;
  font-weight: bold;
}
.btn-container{
  display: flex;
  justify-content: flex-end;
  padding: 15px 0;
  & button{
    border: none;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0,0,0,.5);
    box-sizing: content-box;
    padding: 10px 25px;
    margin-right: 15px;
    background-color: #27df87;
    outline: none;
    font-size: 16px;
    //cursor: pointer;
  }
}