.conteiner{
    /*width: 1900px;*/
    margin: 0 auto;
}
.arch-head{
    display: flex;
    background-color: #313131;
    height: 70px;
    align-items: center;
    justify-content: space-between;
}
.logo-text{
    display: flex;
    align-items: center;
}
.arch-logo{
    width: 27px;
    height: 27px;
    margin-left: 28px;
}
.arch-text{
    margin-left: 28px;
    color: white;
    font-size: 22px;
    vertical-align: top;
}
.text-menu{
    display: inline;
    text-transform: uppercase;
    font-size: 15px;
}
a {
    text-decoration: none;
    color: white;
}
.arch-menu{
    text-align: center;
}
.list-menu{
    display: flex;
    width: 670px;
    justify-content: space-between;
}
.logo-head{
    padding: 25px;
    background-color: black;
}
.menu-hover:hover{
    color: #14B9D5;
}
.img-archi{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 370px;
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("images/basic-html-css_homework_homework4-Design-and-architecture_img_header-bg.jpeg");
    background-position: center;
    background-attachment: fixed;
}

.text-archi{
    color: white;
    font-size: 27px;
    padding-bottom: 44px;
    align-self: center;
}
.buttons{
    display: flex;
}
.button-green{
    background-color: #89CA62;
    color: white;
    width: 177px;
    height: 55px;
    margin-right: 20px;
    border-radius: 6px;
    font-size: 18px;
}
.button-blue{
    background-color: #14B9D5;
    color: white;
    width: 177px;
    height: 55px;
    border-radius: 6px;
    font-size: 18px;
}
.most-popular-posts{
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    flex-direction: column;
    height: 850px;
    width: 1170px;
}
.most-popular-title{
    padding: 50px 0;
    color: #18B4CF;
    text-transform: uppercase;
    font-size: 27px;
    text-align: center;
}

.image-title{
    padding: 20px 0;

}
.posts-items{
    align-items: center;
    margin-bottom: 30px;
    text-align: center;
    padding-top: 0;
    background-color: white;
}

.second-part{
    background-color: #F2F2F2;
}
.img-items{
    width: 100%;
}
.third-part{
    background-image: url("images/basic-html-css_homework_homework4-Design-and-architecture_img_parallax-bg.jpeg");
    text-align: center;
    padding-top: 105px;
    padding-bottom: 190px;
    background-position: center;
    background-attachment: fixed;
}
.clients-top{
    color: white;
    font-size: 32px;
    text-transform: uppercase;
    padding-bottom: 90px;
}
.griddi-logo{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-top: 105px;
    grid-gap: 60px;
    align-items: center;
}

.marker{
    margin: 0 auto;
    display: block;
    border-bottom: 3px solid blue;
    width: 60px;
}
.top-rated-top{
    text-transform: uppercase;
    color: #18B4CF;
    font-size: 27px;
    padding: 50px 0;
    font-weight: bold;
    text-align: center;
}
.fourth-part{
    text-align: center;
}
.pictures-line{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
}
/*.pitures{*/
/*    width: 100%;*/
/*}*/
.fifth-part{
    text-align: center;
    width: 1170px;
    margin: 0 auto;
    padding-bottom: 77px;
}
.news-line{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 2fr;
    grid-row-gap: 45px;
}
.first-row, .second-row, .third-row, .fourth-row{
    display: flex;
    justify-content: space-between;
}
.western-title{
    text-align: right;
    padding: 12px 25px 15px 0;
}
.western-describe{
width: 554px;
    background-color: #F2F2F2;
}
.prophecy-article{
    padding-right: 25px;
    padding-left: 10px;
    text-align: right;
    background-color: #F2F2F2;
}
.prophecy-title{
    padding: 40px 0 15px;
}
.western-content{
    padding: 0 13px;
    text-align: right;
    font-size: 14px;
    line-height: 21px;
}
.prophecy-content{
    font-size: 14px;
    line-height: 21px;
}
.picture-sign{
    display: grid;
    text-align: center;
    background-color: #F2F2F2;

}

.picture-sign-foot{
    display: grid;
    text-align: center;
    background-color: #F2F2F2;
    justify-content: end;
    margin-right: 35px;
}
.hw4-footer{
    display: grid;
    background-color: black;
    justify-items: center;

}
.footer-content{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    width: 1170px;

}
.footer-rights{
    display: grid;
    color: white;
    font-size: 13px;
    padding: 33px 0;
}
.logo-footer{
    text-align: right;
    padding-top: 29px;
    padding-bottom: 27px;
}
.test-hot-news{
    display: grid;
    margin: 0 auto;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr auto auto 1fr;
    justify-items: center;
    grid-gap: 45px;
    width: 1170px;
    padding-bottom: 77px;
}
.prophesy-hotel{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-column: 1 / 4;
}
.western-left{
    display: grid;
    grid-column: 1 / 3;
}
.western-right{
    display: grid;
    justify-items: right;
    grid-column: 3 / 5;
    width: 100%;
}
.prizm-hotel{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-column: 2 / 5;
}

