.conteiner{
    width: 1280px;
    margin: 0 auto;
}
.logo-ramda{
    padding: 60px 0 40px;
}
.ref-ramda{
    text-decoration: none;
    font-size: 80px;
}
.ra{
    color: black;
}
.mda{
    color: cyan;
}
.top-menu{
    display: flex;
    width: 1280px;
    font-size: 24px;
    background-color: #35444F;
}
.side-ref{
    padding: 26px 44px;
    text-decoration: none;
    font-size: 27px;
    color: #485863;
}
.nav-ref{
    color: white;
    text-decoration: none;
    padding: 26px 35px 19px;
}
.nav-menu:hover{
    background-color: #222F3A;
}
.side-menu:hover{
    background-color: #D8D8D8;
    padding-left: 30px;
}
.side-ref:hover{
    color: black;
}
.nav-menu{
    display: flex;
}
.top-ramda{
    margin-bottom: 50px;
}
.ramda-content{
    display: flex;
    justify-content: space-between;
}
.side-items{
    border: 1px solid gray;
    width: 296px;
    font-size: 27px;
    color: #485863;
    height: 100%;
}
.side-menu{
    display: flex;
    align-items: center;
}
.content{
    display: flex;
    width: 883px;
    flex-direction: column;
}
.img-content {
    display: flex;
    width: 885px;
    height: 530px;
    justify-content: center;
    align-items: center;
    border: 1px solid gray;
}

.text-content{
    margin-top: 35px;
}
.ramda-footer{
    display: flex;
    background-color: rgba(99, 105, 110, 0.48);
    margin-top: 55px;
    padding: 26px 0 19px;
    width: 100%;
    justify-content: space-between;
}
.footer-ref{
    display: flex;
    font-size: 28px;
    width: 930px;
    justify-content: space-evenly;
    align-items: center;
}
.footer-item{
    display: flex;
    text-decoration: none;
    color: black;

}
.footer-copyright{
    align-items: center;
    display: flex;
    font-size: 24px;
    width: 190px;
    padding-right: 40px;

}
.footer-item:hover{
    color: darkcyan;
    border-bottom: 1px solid darkcyan;
}
.footer-menu{
    display: inline;
    font-size: 28px;
}
.image-logo{
    width: 320px;
    height: 380px;
    overflow: hidden;
}
.change{
    transition: all 1s ease-out;
}
.change:hover {
    transform: scale(1.2);
}
li {
    display: inline;
    font-size: 24px;
}
.list-menu{
    display: flex;
    width: 100%;
    justify-content: center;
}
