.block{
    width: 1280px;
    margin: 0 auto;
}
.content{
    text-align: center;
}
li {
    display: inline;
    text-align: center;
}
a {
    text-decoration: none;
    color:red;
}
.text-menu{
    font-family: Montserrat;
    font-size: 18px;
    font-weight: bold;
    line-height: 18px;
    letter-spacing: 2.7px;
    text-transform: uppercase;
    padding-left: 0;
    list-style: none;
}
.menu-home {
    margin-left: 0;
    padding-right: 72px;
}
.menu-photoapp {
    margin: 0;
    padding-right: 72px;
}
.menu-design {
    margin: 0;
    padding-right: 50px;
}
.top-menu{
    width: 632px;
    padding: 25.5px 0 25.5px;
    margin: 0 auto;
}
h2 {
    text-transform: uppercase;
    padding: 48px 38px;
    margin: 0;
    font-family: Montserrat;
    font-weight: bold;
    font-size: 22px;
}
.short-text{
    margin: 0 auto 28px;
}
.long-text{
    margin: 0 auto 66px;
}
.bottom-button{
    color: white;
    background: red;
    border-radius: 4px;
    text-transform: uppercase;
    width: 191px;
    height: 51px;
    margin-bottom: 82px;
}
.copyright{
    font-family: Montserrat;
    padding-right: 105px;
    font-weight: bold;
    font-size: 16px;
}
.footer-copyright{
    text-align: right;
}
