.main-container{
    background-color: black;
    width: 100%;
    height: 800px;
    display: flex;
    justify-content: center;
    overflow: hidden;
}
.content{
    width: 800px;
    transform: perspective(300px) rotateX(25deg);
    overflow: hidden;
}
.text{
    color: yellow;
}
.history{
    font-weight: bold;
    font-size: 36px;
    animation: title 30s linear;
    animation-iteration-count: infinite;
}
.episod{
    text-align: center;
    padding-bottom: 100px;
}
.part1{
    padding-bottom: 50px;
}

@keyframes title {
    0% {
        transform: translateY(100%);

    }
    100% {
        transform: translateY(-100%);
    }
}