body{
    font-family: 'Ubuntu', sans-serif;
}
.sign-up-form{
    background: url("images/BgFon.png");
    background-size: cover;
}
.journey{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;

    background-color: rgba(0, 0, 0, 0.4);
    padding: 18px 80px;
}
.calendar, .letter, .compass{
    padding-right: 25px;
    fill: white;
}
.ref-logo{
    font-size: 22px;

}

.ref-login:hover{
    color: rgb(1, 129, 63);
}
.ref-logo:hover{
    color: rgb(1, 129, 63);
}
.ref-signup:hover{
    color: rgb(1, 129, 63);
}
.ref-logo, .ref-login, .ref-signup{
    font-family: 'Ubuntu', sans-serif;
    text-decoration: none;
    color: white;
}
.calendar:hover{
    fill: rgb(1, 129, 63);
}
.compass:hover{
    fill: rgb(1, 129, 63);
}
.letter:hover{
    fill: rgb(1, 129, 63);
}
.welcome{
    position: relative;
}
.welcome::before{
    content: '';
    display: inline-block;
    border-right: 2px solid gray;
    position: absolute;
    height: 100%;
    top: 0;
    left: 0;

}
.welcome, .sign{
    color: white;
    vertical-align: 30%;
    font-family: 'Ubuntu', sans-serif;
}
.header-content{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.welcome{
    padding-left: 25px;
}
.form{
    background: white;
    padding: 0 60px;
    width: 324px;
    text-align: center;
    position: relative;
}
.form-title{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;

}
.form-sign{
    font-size: 20px;
    padding-top: 30px;
    padding-bottom: 15px;
    text-align: left;
    font-family: 'Ubuntu', sans-serif;
}
.form-login{
    padding-top: 33px;
    color: #3CB878;
    text-align: right;
    padding-bottom: 15px;
    font-family: 'Ubuntu', sans-serif;
}
.ref-fb{
    display: flex;
    align-items: center;
    background: #305DB8;
    border-radius: 5px;
}
.ref-fb:hover{
    background: #022263;
}
.fb-btn-name{
    font-size: 16px;
    color: white;
    padding-left: 18px;
    padding-right: 16px;

    position: relative;
    font-family: 'Ubuntu', sans-serif;
}
.fa-facebook-f{
    color: white;
    font-size: 24px;
    padding: 12px 19px 12px 17px;

}
.fb-btn-name::before{
    content: '';
    display: inline-block;
    border-right: 1px solid gray;
    position: absolute;
    height: 28px;
    top: -7px;
    left: 0;
}
.ref-ggl{
    display: flex;
    align-items: center;
    background: #DF4A32;
    border-radius: 5px;
}
.ref-ggl:hover{
    background: #AB1F09;
}
.form-social-buttons{
    display: flex;
    justify-content: space-between;
    padding-bottom: 26px;
}
.fa-google-plus-g{
    color: white;
    width: 30px;
    font-size: 19px;
    padding: 15px 7px 14px 12px;
}
.ggl-btn-name::before{
    content: '';
    display: inline-block;
    border-right: 1px solid gray;
    position: absolute;
    height: 28px;
    top: -7px;
    left: 0;
}
.ggl-btn-name{
    font-size: 16px;
    color: white;
    padding-left: 30px;
    padding-right: 27px;
    position: relative;
    font-family: 'Ubuntu', sans-serif;
}
.form-or{
    color: #848484;

    padding: 0 4px;
    position: relative;
}
.form-or::before{
    content: '';
    display: inline-block;
    border-bottom: 1px solid gray;
    width: 150px;
    position: absolute;
    top: 10px;
    right: 22px;
}
.form-or::after{
    content: '';
    display: inline-block;
    border-bottom: 1px solid gray;
    width: 150px;
    position: absolute;
    top: 10px;
    left: 22px;
}
.form-items{
    display: grid;
    margin-top: 10px;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr auto 1fr;
    grid-row-gap: 15px;
    padding-bottom: 38px;
}
.form-name{
    border: 1px solid #F2F2F2;
    border-radius: 4px;
    color: rgb(190, 190, 190);
    padding: 16px 20px;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
    outline: none;
}
.form-name:focus{
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.21);
    color: black;
}
.checkbox-black{
    padding-left: 11px;
    vertical-align: 20%;
}
.checkbox-green{
    color: rgb(60, 184, 120);
}
.form-checkbox{
    text-align: left;

}
.form-create{
    background: rgb(60, 184, 120);
    border-radius: 4px;
    color: white;
    font-size: 16px;
    font-family: 'Ubuntu', sans-serif;
    border: none;
}
.form-create:hover{
    background: #01813F;
}
.green-square{
    padding: 9px;
    background: #3CB878;
    position: absolute;
    left: 0;
    top: 29px;
}
.form-checkmark{
    display: none;
}
.form-checkmark:checked ~ .checkbox-imitation img {
    opacity: 1;
    pointer-events: initial;
}

.checkbox-imitation {
    display: inline-block;
    width: 20px;
    height: 20px;
    border: 1px solid rgb(242, 242, 242);
}

.checkbox-imitation img {
    width: 100%;
    height: 100%;
    opacity: 0;
    pointer-events: none;
}
.ref-fb, .ref-ggl, .ref-rules{
    text-decoration: none;
}
.checkbox-green:hover{
    text-decoration: #01813F;
    color: rgb(60, 184, 120);
}
.main-container{
    height: calc((100vh) - 63px);
    display: flex;
    justify-content: center;
    align-items: center;
}